# Compiled Object files #
#########################
*.slo
*.lo
*.o
*.obj

# Precompiled Headers #
#######################
*.gch
*.pch

# Compiled Dynamic libraries #
##############################
*.so
*.dylib
*.dll

# Fortran module files #
########################
*.mod

# Compiled Static libraries #
#############################
*.lai
*.la
*.a
*.lib

# Executables #
###############
*.exe
*.out
*.app

# Something else #
##################
*.py[ocd]
*.rej

# Backup files #
################
*~
*.orig

# Directory files #
###################
*directory

# Docs #
########
doc/doxygen/html/**

# Specific files #
##################
examples/CANOpenShell/CANOpenShell
examples/CANOpenShell/Debug
examples/DS401_Master/DS401_Master
examples/DS401_Slave_Gui/DS401_Slave_Gui
examples/TestMasterMicroMod/TestMasterMicroMod
examples/TestMasterSlave/TestMasterSlave
objdictgen/gnosis

# Makefiles #
#############
Makefile
drivers/Makefile
examples/**/Makefile
objdictgen/Makefile
src/Makefile

drivers/can_socket/Makefile
drivers/timers_unix/Makefile
drivers/unix/Makefiles
drivers/can_peak_linux/Makefile
drivers/timers_rtai/Makefile

examples/CANOpenShell/Makefile
examples/SillySlave/Makefile
examples/TestMasterMicroMod/Makefile
examples/TestMasterSlave/Makefile
examples/TestMasterSlaveLSS/Makefile

# Generated sources #
#####################
include/config.h
objdictgen/canfestival_config.py
examples/CANOpenShell/CANOpenShellMasterOD.c
examples/CANOpenShell/CANOpenShellMasterOD.h
examples/CANOpenShell/CANOpenShellSlaveOD.c
examples/CANOpenShell/CANOpenShellSlaveOD.h
examples/DS401_Master/TestMaster.c
examples/DS401_Master/TestMaster.h
examples/DS401_Slave_Gui/ObjDict.c
examples/DS401_Slave_Gui/ObjDict.h
examples/TestMasterSlave/TestMaster.c
examples/TestMasterSlave/TestMaster.h
examples/TestMasterSlave/TestSlave.c
examples/TestMasterSlave/TestSlave.h
examples/TestMasterMicroMod/TestMaster.c


